.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-group-1 {
  width: 988px;
  min-height: 609px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 auto 30px auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 15px 410px 0 auto;
  padding: 3px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 41px 386px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 281px;
  width: 628px;
  margin: 13px 129px 0 212px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0 347px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -22px 301px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 390px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 187px;
    margin-right: 105px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 297px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 279px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 72px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 221px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 207px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 127px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 84px;
  }
}