.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 53px 355px 0 324px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 940px;
  margin: 67px auto 41px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 366px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 362px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  width: 21px;
  height: 21px;
  margin: -357px 5px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  width: 470px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 52px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 2px 50px 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -24px 5px 0 180px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 438px;
  margin: 0 -30px 0 -68px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 33px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: -10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 52px;
}

.u-section-1 .u-container-layout-5 {
  padding: 2px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 50px 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -22px -1px 0 186px;
}

.u-section-1 .u-layout-wrap-5 {
  margin-top: 29px;
  margin-bottom: 41;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 272px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 2px 319px 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0 -1px -21px 186px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    width: 509px;
    margin-top: 64px;
    margin-right: 255px;
    margin-left: 224px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-cell-2 {
    height: 364px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 69px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 7px;
    margin-left: 192px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 71px;
    margin-top: 239px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 69px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 285px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 7px;
    margin-left: 192px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 69px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -22px;
    margin-right: 7px;
    margin-left: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 114px;
    margin-right: 145px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-1 {
    height: 277px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -272px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
    margin-left: 90px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 73px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 30px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 10px;
    margin-left: 146px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 159px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 30px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 10px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    /* min-height: 735px; */
  }

  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 55px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-1 .u-image-1 {
    height: 416px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -411px;
  }

  .u-section-1 .u-layout-cell-2 {
    height: 219px;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 118px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 59px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 3060px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 16px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 92px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 1px;
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-1 .u-image-1 {
    height: 262px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    height: 186px;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 4px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 31px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 1px;
    margin-right: 241px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -14px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 148px;
    margin-top: 672px;
    margin-bottom: -1618px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 76px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-right: 224px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -14px;
    margin-right: 0;
    margin-left: 130px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -7px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 112px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 0.75rem;
    margin-right: 241px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    margin-top: -14px;
    margin-right: 0;
    margin-left: 100px;
  }
}

.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 803px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 615px;
  margin: 111px auto 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 93px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 102px;
  padding: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 102px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 119px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 101px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 13px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}