{% load gtfiltes %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="u-container-style u-group u-group-1" data-href="{% url 'pagina-inicial' %}">
            <div class="u-container-layout u-container-layout-1" data-href="{% url 'pagina-inicial'%}">
                <div class="u-border-3 u-border-white u-shape u-shape-right u-shape-1"
                    style="width: 48px; height: 41px; margin: -5px auto 0 27px;"></div>
                <p class="u-small-text u-text u-text-body-alt-color u-text-variant u-text-1">
                    Curso vida
                </p>
            </div>
        </div>
        <button class="navbar-toggler button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse padding-nav" style="margin-left: 10px;" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 edit-link">
                {% if user.is_authenticated %}
                <li class="nav-item">

                    <a class="edit-link" href="{% url 'pagina-inicial' %}#sec-44b5" data-page-id="9781384"
                        target="_blank" style="color: rgb(255, 255, 255);">
                        meus cursos
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="edit-link" style="color: rgb(255, 255, 255);" disabled data-page-id="9781384"
                        target="_blank">
                        meus cursos
                    </a>

                </li>
                {% endif%}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="edit-link" href="{% url 'carrinho' %}" style="color: rgb(255, 255, 255);">carrinho<span
                            class="badge">{{request.session.carrinho|carrinho_total}}</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="edit-link" style="color: rgb(255, 255, 255);">
                        carrinho
                    </a>
                </li>
                {% endif %}

                {% if user.is_anonymous %}
                <li class="nav-item">
                    <a class="edit-link" style="color: rgb(255, 255, 255);" href="{% url 'login' %}">login</a>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="edit-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"
                        style="padding: initial;color: rgb(255, 255, 255);">
                        Usuário
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 12px;">
                        <li>
                            <a class="edit-link" style="color: rgb(0, 0, 0);" href="{% url 'contato' %}">
                                contate-nos
                            </a>
                        </li>

                        <li>
                            <a class="edit-link" style="color: rgb(0, 0, 0);" href="{% url 'favoritos' %}"
                                target="_blank">
                                favoritos
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if not user.is_anonymous %}
                        <li class="nav-item">
                            <a class="edit-link" style="color: rgb(0, 0, 0);" href="{% url 'logout' %}">logout</a>
                        </li>
                        {% endif%}
                    </ul>
                </li>

            </ul>
            <form class="d-flex" action="{% url 'pesquisar' %}">
                <input class="form-control me-2" name="pequisar" type="search" placeholder="Pequisar"
                    aria-label="Search" style="min-width:
                    300px;">
                <button class="button" type="submit" style="margin: auto;">Pequisar</button>
            </form>
        </div>
    </div>
</nav>
