{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Desejos {% endblock%}
{% block conteiner %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/lista-de-desejo.css' %}" media="screen">
{% endblock %}
</div>

<section class="u-clearfix u-section-1" id="sec-1e35" style="min-height: 423px; margin: 50px 0px;">
  <div style="text-align: center;">

    {% if request.session.favoritos %}
    <h2 class="categoria-list">favoritos</h2>
    {% else %}
    <h3 class="categoria-list"> seus favoritos está vazio </h3>
    <h5 style="padding-top: 50px;">então, vamos voltar a <a href="{% url 'pagina-inicial' %}">pagina inicial ?</a> </h5>
    {% endif %}
    <div class="u-expanded-width u-list u-list-1">
      {% if request.session.favoritos %}
      {% for produto in request.session.favoritos.values %}
      <div class="u-container-style u-list-item u-repeater-item">
        <div class="u-container-layout u-similar-container u-container-layout-3 items-list"
          style="margin: 0px 0px 20px 0px;">
          <img style="padding: 20px 0px 0px 10px;width: 175px;" src="{% get_media_prefix %}{{ produto.imagem}}">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c8c0"></use>
          </svg>
          <svg class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" id="svg-c8c0"
            style="enable-background:new 0 0 50 50;">
            <path style="fill:currentColor;"
              d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
                  c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
                  c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z">
            </path>
          </svg>
          </span>
          <p class="parag-list">{{ produto.nome}}</p>
          <p class="parag-list"><a style="text-decoration: none;" href="{% url 'detalhe' produto.id %}">veja mais do
              produto
              -></a></p>

        </div>
        <form action="{% url 'apagar-favoritos' %}">
          <select hidden name="produto-id">
            <option value="{{ produto.id }}"></option>
          </select>
          <button type="submit" style="background-color: initial;border: none; box-shadow: none;">

            <i class="material-icons"
              style="font-size:26px;position: relative; top: 32px; left: -70px; color: red;">favorite</i>
          </button>
        </form>

      </div>

      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}